---
import Layout from '../layouts/Layout.astro';
import Principal from '../components/Principal.astro';
import About from '../components/About.astro';
import CTA from '../components/CTA.astro';
import Cards from '../components/Cards.astro';
import Last from '../components/Last.astro';


---

<Layout title="Segundo profe">

  <div class="w-full h-screen">

    <section class="z-0 relative w-full h-screen flex flex-col justify-center items-center">
      <Principal/>
    </section>

    <section class="bg-white py-16">
      <About/>
    </section>

    <section class="bg-gradient-to-r from-blue-500 to-indigo-600 text-center text-white w-full mt-20 py-10 rounded-md mx-auto">
      <CTA/>
    </section>

    <section class="w-full h-screen flex items-center justify-center bg-slate-100">
      <Cards/>
    </section>

    <section class="z-0 relative w-full h-screen flex justify-center items-center">
      <Last/>
    </section>

  </div>
	  
</Layout>

<style>

</style>
