---
import Layout from '../layouts/Layout.astro';


---

<Layout title="Welcome to Astro.">
	<nav class="relative py-6 bg-gray-800">
      <div class="container flex px-8 mx-auto xl:px-0 items-center">
        <div class="flex flex-grow items-center">
          <i class="text-white fa-brands fa-slack text-2xl lg:text-4xl"></i>
        </div>

        <div class="flex lg:hidden">
          <i id="hamburguer" class="text-white fa-solid fa-bars text-2xl transition-all duration-500 ease-in-out" onclick='
            let menu = document.getElementById("menu");
            let hamburguer = document.getElementById("hamburguer");
            if(menu.classList.contains("hidden")){
              menu.classList.remove("hidden");
              hamburguer.classList.remove("fa-bars");
              hamburguer.classList.add("fa-xmark");
            }
            else{
              menu.classList.add("hidden")
              hamburguer.classList.add("fa-bars");
              hamburguer.classList.remove("fa-xmark");
            }'></i>
        </div>

        <div id="menu" class="lg:flex hidden justify-between flex-grow absolute lg:relative top-16 lg:top-0 bg-gray-800 left-0 w-full lg:w-auto py-14 lg:py-0 px-8 items-center sm:px-24 lg:px-0">
          <div class="flex flex-col lg:flex-row mb-8 lg:mb-0">
            <a href="#" class="text-white lg:mr-7 mb-8 lg:mb-0">Inicio</a>
            <a href="#" class="text-white lg:mr-7 mb-8 lg:mb-0">Cursos</a>
            <a href="#" class="text-white lg:mr-7 mb-8 lg:mb-0">Blog</a>
            <a href="#" class="text-white">Compania</a>
          </div>
          <div class="flex flex-col lg:flex-row text-center">
            <a
              href="#"
              class="py-2.5 px-5 text-white border border-white rounded-md hover:bg-white hover:text-gray-800 transition duration-500 ease-in-out lg:mr-4 mb-8 lg:mb-0"
              >Iniciar sesion</a
            >
            <a
              href="#"
              class="bg-blue-500 py-2.5 px-5 text-white border border-blue-500 rounded-md hover:bg-blue-700 hover:border-blue-700 transition duration-500 ease-in-out"
              >Registrate</a
            >
          </div>
        </div>
      </div>
    </nav>

</Layout>

<style>

</style>
