---

---

<div
class="px-6 lg:px-12 flex flex-col items-center justify-center lg:flex-row lg:items-center lg:justify-between"
>
    <div class="lg:w-1/2 lg:mr-0 flex flex-col items-center lg:items-start">
        <h2 class="text-3xl md:text-4xl font-bold text-gray-800 mb-4">
        Acerca de MobileMend
        </h2>
        <p class="text-gray-600 mb-6 text-sm md:text-base">
        MobileMend es una plataforma SaaS integral, diseñada para adaptarse a las
        necesidades específicas de tu negocio. Ya sea que administres un pequeño
        taller o una cadena de tiendas, MobileMend te ofrece herramientas
        personalizadas para optimizar tus operaciones, mejorar la gestión de
        inventario y aumentar la satisfacción del cliente.
        </p>
        <p class="text-gray-600 mb-6 text-sm md:text-base">
        Con MobileMend, te proporcionamos una solución hecha a la medida, que se
        integra perfectamente con los procesos únicos de tu empresa. Desde la
        automatización de tareas rutinarias hasta la generación de reportes
        detallados, estamos aquí para ayudarte a llevar tu negocio al siguiente
        nivel.
        </p>
        <a
        href="#"
        class="border text-base lg:text-lg bg-blue-500 border-blue-500 hover:bg-blue-700 hover:border-blue-700 cursor-pointer transition-all duration-300 disabled:opacity-50 disabled:cursor-not-allowed text-white hover:scale-110 px-4 py-2 lg:px-6 lg:py-3 font-bold rounded-full"
        >Get started
        </a>
    </div>
    <div class="w-10/12 md:w-8/12 lg:w-6/12 xl:w-5/12 mt-10 lg:mt-0 flex">
        <img
        class="mx-auto w-10/12"
        src="dos.svg"
        alt=""
        />
    </div>
</div>