---

---

<div class=" w-11/12 lg:w-11/12 h-full lg:h-4/6 flex flex-col items-start justify-center gap-5 lg:gap-10">

    <h1 class="font-semibold text-slate-800 text-base lg:text-xl w-full lg:w-8/12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores delectus ex voluptatibus placeat, a ullam officia!</h1>

    <p class="text-sm text-left text-slate-800 w-full lg:w-4/12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores delectus ex voluptatibus placeat, a ullam officia!</p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 w-full  justify-start items-center gap-3 lg:gap-4 xl:gap-6">
        
        <div class="bg-white w-full px-2 py-2 lg:px-3 lg:py-6 space-y-1 rounded-md lg:hover:scale-105 hover:scale-105 transition-all duration-300 border border-gray-300">
            <i class=" fa-brands fa-slack text-3xl lg:text-4xl"></i>
            <p class="font-semibold text-slate-800">Titulo</p>
            <p class="text-xs lg:text-sm text-left text-slate-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores delectus ex voluptatibus placeat, a ullam officia!</p>
        </div>

        <div class="bg-white w-full px-2 py-2 lg:px-3 lg:py-6 space-y-1 rounded-md lg:hover:scale-105 hover:scale-105 transition-all duration-300 border border-gray-300">
            <i class=" fa-brands fa-slack text-3xl lg:text-4xl"></i>
            <p class="font-semibold text-slate-800">Titulo</p>
            <p class="text-xs lg:text-sm text-left text-slate-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores delectus ex voluptatibus placeat, a ullam officia!</p>
        </div>
        
        <div class="bg-white w-full px-2 py-2 lg:px-3 lg:py-6 space-y-1 rounded-md lg:hover:scale-105 hover:scale-105 transition-all duration-300 border border-gray-300">
            <i class=" fa-brands fa-slack text-3xl lg:text-4xl"></i>
            <p class="font-semibold text-slate-800">Titulo</p>
            <p class="text-xs lg:text-sm text-left text-slate-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores delectus ex voluptatibus placeat, a ullam officia!</p>
        </div>

        <div class="bg-white w-full px-2 py-2 lg:px-3 lg:py-6 space-y-1 rounded-md lg:hover:scale-105 hover:scale-105 transition-all duration-300 border border-gray-300">
            <i class=" fa-brands fa-slack text-3xl lg:text-4xl"></i>
            <p class="font-semibold text-slate-800">Titulo</p>
            <p class="text-xs lg:text-sm text-left text-slate-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores delectus ex voluptatibus placeat, a ullam officia!</p>
        </div>

    </div>

</div>