---

---

<div
  class="bg-gradient-to-r w-full md:w-2/3 from-blue-500 to-indigo-600 text-center text-white mt-20 py-10 rounded-md mx-auto"
>
  <div class="container mx-auto px-6 md:px-12">
    <h2 class="text-3xl font-bold mb-4">
      Administra y Optimiza tu Negocio con MobileMend
    </h2>
    <div class="text-base mb-8">
      <p class="">
        MobileMend es la solución SaaS ideal para administrar, mejorar y
        optimizar tu negocio.
      </p>
      <p>
        ¡No pierdas más tiempo y comienza a mejorar tu productividad hoy mismo!
      </p>
    </div>
    <div class="flex justify-center">
      <a
        href="/demo"
        class="bg-white text-blue-500 font-semibold py-3 px-6 rounded-full hover:bg-gray-100 transition duration-300 ease-in-out"
      >
        Prueba una Demo Gratis
      </a>
    </div>
  </div>
</div>
