---

---

<nav class="fixed w-full py-6 bg-slate-800 z-10">
      <div class="flex px-10 mx-auto items-center">
        <div class="flex flex-grow items-center">
          <i class="text-white fa-brands fa-slack text-2xl lg:text-4xl"></i>
        </div>

        <div class="flex lg:hidden">
          <i id="hamburguer" class="text-white fa-solid fa-bars text-2xl transition-all duration-500 ease-in-out" onclick='
            let menu = document.getElementById("menu");
            let hamburguer = document.getElementById("hamburguer");
            if(menu.classList.contains("hidden")){
              menu.classList.remove("hidden");
              hamburguer.classList.remove("fa-bars");
              hamburguer.classList.add("fa-xmark");
              console.log("hola mundo");
            }
            else{
              menu.classList.add("hidden")
              hamburguer.classList.add("fa-bars");
              hamburguer.classList.remove("fa-xmark");
              console.log("hola mundo");
            }'></i>
        </div>

        <div id="menu" class="lg:flex hidden justify-between flex-grow absolute lg:relative top-16 lg:top-0 bg-gray-800 left-0 w-full lg:w-auto py-14 lg:py-0 px-8 items-center sm:px-24 lg:px-0">
          <div class="flex flex-col lg:flex-row mb-8 lg:mb-0 items-center justify-center lg:translate-x-24">
            <a href="#" class="text-white lg:mr-7 mb-8 lg:mb-0">Inicio</a>
            <a href="#" class="text-white lg:mr-7 mb-8 lg:mb-0">Cursos</a>
            <a href="#" class="text-white lg:mr-7 mb-8 lg:mb-0">Blog</a>
            <a href="#" class="text-white">Compania</a>
          </div>
          <div class="flex flex-col gap-2 items-center lg:flex-row text-center">
            <button
              class="flex border py-1 px-5 lg:px-3 text-center border-white rounded-md text-white items-center"
              >Iniciar sesion</button
            >
            <button
              class="bg-blue-500 text-center hover:bg-blue-700 flex border py-1.5 border-none px-10 lg:px-5 rounded-md text-white transition duration-200 ease-in-out"
              >Registrate</button
            >
          </div>
        </div>
      </div>
    </nav>


<!-- 
    <nav class="fixed w-full py-6 px-10 bg-slate-800 z-10">
      <div class="w-full flex justify-between items-center">
        <div class="w-auto">
          <i class="text-white fa-brands fa-slack text-2xl lg:text-4xl"></i>
        </div>
    
        <div class="flex lg:hidden">
          <i
            id="hamburguer"
            class="text-white fa-solid fa-bars text-2xl transition-all duration-500 ease-in-out"
            onclick='
                let menu = document.getElementById("menu");
                let hamburguer = document.getElementById("hamburguer");
                if(menu.classList.contains("hidden")){
                  menu.classList.remove("hidden");
                  hamburguer.classList.remove("fa-bars");
                  hamburguer.classList.add("fa-xmark");
                  console.log("hola mundo");
                }
                else{
                  menu.classList.add("hidden")
                  hamburguer.classList.add("fa-bars");
                  hamburguer.classList.remove("fa-xmark");
                  console.log("hola mundo");
                }'
          ></i>
        </div>
    
        <div class="flex flex-col lg:flex-row mb-8 lg:mb-0 items-center justify-center translate-x-20">
          <a href="#" class="text-white lg:mr-7 mb-8 lg:mb-0">Inicio</a>
          <a href="#" class="text-white lg:mr-7 mb-8 lg:mb-0">Cursos</a>
          <a href="#" class="text-white lg:mr-7 mb-8 lg:mb-0">Blog</a>
          <a href="#" class="text-white">Compania</a>
        </div>
        <div class="flex flex-col gap-2 lg:flex-row text-center max-w-56|">
          <a
            href="#"
            class="flex border py-1 px-3 border-white rounded-md text-white items-center"
            >Iniciar sesion</a
          >
          <a
            href="#"
            class="bg-blue-500 hover:bg-blue-700 flex border py-1.5 border-none px-5 rounded-md text-white transition duration-200 ease-in-out"
            >Registrate</a
          >
        </div>
      </div>
    </nav> -->
    